header{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo{
    padding-left: 50px;
    display: flex;
    align-items: center;
}

.logo img{
    width: 27px;
    height: 63px;
    margin-right: 15px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 400px;
    font-weight: bolder;
    padding-right: 40px;
    list-style-type: none;

}
  
  .menu a {
    text-decoration: none;
    padding: 10px;
  }
  
  .bars {
    display: none;
    font-size: 2rem;
    padding-right: 30px;

  }