#home{
    background-image:url(../img/rosto-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
}

.container__home{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    height: 150px;
    padding-top: 300px;
    margin-left: 200px;
}

.container__home h2{
   width: 150px; 
   display: flex;
   text-align: center;
   animation-duration: 4s;
   animation-name: animacao2;
}
.line{
    width: 5px;
    height: 150px;
    background-color: white;
    animation-duration: 3s;
    animation-name: animacao1;
}

@keyframes animacao1 {
    from {
        transform: translatey(-200%)
    }
    to {
        transform: translatey(0%);
    }
}

@keyframes animacao2 {
    from {
        transform: translateX(-150%)
    }
    to {
        transform: translateX(0%);
    }
}

