@media (max-width: 1050px) {

    .container__sobre p {
        font-size: 1.2rem;
        font-weight: bold;
        width: 500px;
    }

    .contato img {
        width: 500px;
        height: 303px;
    }

    .card-elipse img {
        width: 370px;
        height: 482PX;
    }

    .descricao__produto p {
        font-size: 1rem;
        ;
    }
}

@media (max-width: 900px) {

    .contato img {
        width: 300px;
        height: 182px;
    }

    
    .card-elipse img {
        width: 300px;
        height: 391PX;
    }
}

@media(max-width: 700px) {
    header {
        height: 60px;

    }

    .logo{
        padding-left: 40px;
        font-size: 10px;
    }
    
    .logo img{
        width: 21px;
        height: 50px;
        margin-right: 10px;
    }

    .menu ul{
        font-size: 1rem;
        width: 300px;
    }
    #home {
        background-image: url(../img/rosto-home-inverso.png);
    }

    .contato img {
        display: none;
    }

    .descricao__produto{
        flex-direction: column;
    }
}

@media(max-width: 500px) {
    .menu {
        display: none;
    }

    .container__sobre {
        text-align: center;
    }

    .container__sobre p {
        font-size: 1rem;
        font-weight: bold;
        width: 300px;
        text-align: justify;
    }

    .produto img {
        width: 270px;
        height: 310px;
    }

    .descricao__produto p {
        width: 350px;
    }

    footer {
        font-size: 1rem;
    }
}