* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
il,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

:root{
    --primary-color: #F1DDB4;
    --secondary-color: #70967F;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    height: max-content;
}

.theme{
    padding-right: 20px;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.label {
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 12px;
}

body::-webkit-scrollbar-track {
    background: var(--primary-color); 
}

body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px; 
}

-webkit-scrollbar-thumb:hover {
    background: #555; 
}
